body{
    background-color:beige;
    background-size:cover;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    
   
 }

.container{
   background-color:lightcoral;
   max-width: 80%;
   margin: auto;
   
   border-radius: 5px;
  
}

h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    border: 3px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    font-size: 16px;

}
 #increment-btn{
    background: darkred;
 }
 #delete-btn{
    background: darkorange;
 }
 #save-btn{
    background-color: darkgreen;
 }

 p{
    color: black;
 }